<div class='form__container'>

<h1>Editing response</h1>

<%= render "form", user: @user %>
</div>
<br>

<div>
  <%= link_to "Show this response", @user %> |
  <%#= link_to "Back to users", users_path %>
</div>
