<div class='form__container'>
<h1>Availability to grace Traditional Marriage Ceremony</h1>
<div class='image-div'>
  <%= image_tag('https://res.cloudinary.com/spetsnaz/image/upload/v1663661056/toechukwu_lln0yy.jpg', class: 'wedding-image') %>
</div>
<div class='wedding-details'>
  The families of Fortune and Grace Udegbue of Okikaku Ishekpe quarters of Ogwashiuku in Aniocha
  South Local Government Area of Delta State and Chief, Sir Charles and Lady Nkechi Anumu of Dim-Na-Nume
  ISU Nwangele Local Government Area of Imo State cordially invites you to the traditional marriage ceremony
  of their children Toechukwu Udegbue and Carlton Anumu.
  <br />
  <br />
  Date: 27th of April 2023.
  <br />
  <br />
  Venue: 13350 Beechnut Street, Houston Texas, United States
  <br />
  <br />
  Time: 6:30PM EST
</div>
<div>
<%= render "form", user: @user %>
</div>
<br>

<div>
  <%#= link_to "Back to users", users_path %>
</div>
