<div class='form__container'>
<h1>Availability to grace Traditional Marriage Ceremony</h1>
<div class='image-div'>
  <%= image_tag('https://res.cloudinary.com/spetsnaz/image/upload/v1663661056/toechukwu_lln0yy.jpg', class: 'wedding-image') %>
</div>
<div class='wedding-details'>
  The families of
  <br />
  <br /> 
  Fortune and Grace Udegbue of Okikakwu Ishekpe quarters of Ogwashiuku in Aniocha
  South LGA of Delta State
  <br />
  <br /> 
  and
  <br />
  <br /> 
  Chief, Sir Charles and Lady Nkechi Anumnu of Dim-Na-Nume
  ISU Nwangele LGA of Imo State
  <br />
  <br /> 
  cordially invites you to the traditional marriage ceremony
  of their children
  <br />
  <br />
  Toechukwu Udegbue and Carlton Anumnu.
  <br />
  <br />
  Date: 27th of April 2023.
  <br />
  <br />
  Venue: 13350 Beechnut Street, Houston Texas, 770383 United States OF America
  <br />
  <br />
  Time: 6:30PM CST
</div>
<div>
<%= render "form", user: @user %>
</div>
<br>

<div>
  <%#= link_to "Back to users", users_path %>
</div>
